# Frameworks
# we use latest PyTorch stable release
torch==2.9.0

# we shall upgrade torch for blackwell when it is stable
transformers
datasets
modal

# DSLs
nvidia-cutlass-dsl
tilelang

# helper
tqdm
packaging
pydra_config
pytest
ninja

# Numerics
einops
dotenv
numpy

# use litellm for cloud providers and openai for local
openai 
litellm[proxy]

